<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CachedDataStructures -->
      <package
            uri="http://www.ubt.de/ai7/csv_validator/CacheDataStructures/Model"
            class="de.ubt.ai7.csv_validator.caches.dataStructures.dataStructuresPackage"
            genModel="model/CachedDataStructures.genmodel"/>
   </extension>

</plugin>
